:root {
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
  --default-background: rgb(255, 153, 255, 0.2);
  --paragraph-text: rgb(131, 47, 131);
}
body {
  font-family: var(--default-font);
}

h2 {
  font-family: var(--heading-font);

  font-size: 64px;
  font-weight: 700;
}
p {
  line-height: 30px;
  font-size: 16px;
  color: rgb(131, 47, 131, 0.6);
}
.hero {
  text-align: center;
  font-family: var(--default-font);
  background-color: var(--default-background);
  padding: 120px 20px;
  margin-bottom: 40px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--paragraph-text);
  opacity: none;
}
.hero h1 {
  font-size: 96px;
  font-family: var(--heading-font);
  line-height: 1.5;
}
.hero h2 {
  font-size: 24px;
  font-weight: normal;
  color: var(--paragraph-text);
  line-height: 1.5;
  font-family: var(--heading-font);
}

.hero-about h1 {
  font-size: 64px;
  line-height: 70px;
  font-family: var(--heading-font);
}
.hero-about h2 {
  font-size: 18px;
  font-family: var(--default-font);
  color: var(--paragraph-text);
}
.hero-about p {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  font-family: var(--default-font);
}

.image-port {
  border-radius: 4px;
  padding: 60px 30px;
  background-color: var(--default-background);
}

.primary-button {
  color: white;
  background-color: rgb(255, 153, 255) !important;
  border: none;
  border-radius: 4px;
  font-size: 24px;
  font-weight: bold;
  padding: 15px 60px;

  line-height: 27px;
}
.btn-learn {
  color: var(--paragraph-text);
  border-radius: 4px;
  border: 1px solid var(--paragraph-text);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}
.project-description {
  padding: 120px 60px;
  background-color: var(--default-background);
  margin-top: 121px;
}
.img-adjust {
  padding-top: 120px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 30px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  .project-description {
    padding: 60px 20px;
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }
}
