:root {
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
  --default-background: rgb(255, 153, 255, 0.2);
  --paragraph-text: rgb(131, 47, 131);
}
body {
  font-family: var(--default-font);
}
h1 {
  font-family: var(--heading-font);
}

h2 {
  font-family: var(--heading-font);

  font-size: 64px;
  font-weight: 700;
}
p {
  line-height: 30px;
  font-size: 16px;
  color: rgb(131, 47, 131, 0.6);
}

nav {
  margin-bottom: 20px;
  margin-top: 5px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
  font-size: 16px;
}
nav a {
  color: var(--paragraph-text);
  padding: 5px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
nav li.active a {
  color: rgb(131, 47, 131, 0.6);
}
nav a:hover {
  background-color: var(--default-background);
  border-radius: 10px;
  color: var(--paragraph-text);
}

footer {
  margin: 60px auto;
  text-align: center;
}
footer .contact-box {
  background-color: var(--default-background);
  padding: 30px 120px;
}
footer .contact-box h4 {
  font-family: var(--heading-font);
  font-size: 48px;
}
footer .contact-box p {
  font-size: 18px;
  text-align: left;
}

footer .email-link {
  color: var(--paragraph-text);
  text-decoration: none;
  font-size: 24px;
}
footer .social-links a {
  margin: 10px 20px;
  color: var(--paragraph-text);
  background-color: var(--default-background);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 22px;
  transition: all 150ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background-color: var(--paragraph-text);
}

footer .email-link:hover {
  background-color: var(--default-background);
}

.name {
  font-size: 28px;
  font-family: var(--heading-font);
  color: var(--paragraph-text);
  margin: 0;
}
.hero {
  text-align: center;
  font-family: var(--default-font);
  background-color: var(--default-background);
  padding: 120px 20px;
  margin-bottom: 40px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--paragraph-text);
  opacity: none;
}
.hero h1 {
  font-size: 96px;
  font-family: var(--heading-font);
  line-height: 1.5;
}
.hero h2 {
  font-size: 24px;
  font-weight: normal;
  color: var(--paragraph-text);
  line-height: 1.5;
  font-family: var(--heading-font);
}

.hero-about h1 {
  font-size: 64px;
  line-height: 70px;
  font-family: var(--heading-font);
}
.hero-about h2 {
  font-size: 18px;
  font-family: var(--default-font);
  color: var(--paragraph-text);
}
.hero-about p {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  font-family: var(--default-font);
}
.hero-about ul {
  color: rgb(131, 47, 131, 0.6);
}

.image-port {
  border-radius: 6px;
  padding: 50px 30px;
  background-color: var(--default-background);
}

.see-more {
  border: 1px solid var(--paragraph-text);
  background-color: white;
  color: var(--paragraph-text);
  font-size: 18px;
  padding: 6px 12px;
}
.see-more:hover {
  color: white;
  background-color: var(--paragraph-text);
  padding: 6px 12px;
}

.btn-learn {
  color: var(--paragraph-text);
  border-radius: 4px;
  border: 1px solid var(--paragraph-text);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}
.btn-learn:hover {
  color: white;
  background-color: var(--paragraph-text);
}
.project-description {
  padding: 60px 60px;
  background-color: var(--default-background);
  margin-top: 121px;
}
.img-adjust {
  padding-top: 120px;
}
.content-container {
  text-align: center;
}
.content-container h3 {
  font-size: 24px;
}
.content-container h1 {
  font-size: 64px;
}
.contact-page {
  text-align: center;
}
.contact-page h1 {
  font-size: 64px;
}
.contact-page h3 {
  font-size: 36px;

  font-family: var(--default-font);
}
.contact-page p {
  margin-bottom: 35px;
  font-size: 18px;
}
.contact-page a {
  color: var(--paragraph-text);
  text-decoration: none;
}
.contact-body {
  text-align: center;

  padding: 60px;
}
.git-link {
  text-decoration: none;
  color: var(--paragraph-text);
}
@media (max-width: 900px) {
  h1 {
    font-size: 30px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }

  .project-description {
    padding: 60px 20px;
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }
  .hero-about {
    text-align: center;
    padding: 0;
  }
  .work-page h1 {
    font-size: 40px;
    line-height: 1;
  }
}
